*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background-color: #E5E4E4;
  font-family: 'Poppins', sans-serif;
}
html::-webkit-scrollbar {
    display: none;
}
/* Grid */
.container{
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  grid-template-rows: 60px 765px auto auto;
}
/* End */










/* Header */
.header{
  grid-column: 1 / 4;

  background-color: #fff;
  box-shadow: 0 1px 8px rgb(186, 186, 186);

  justify-content: space-between;
  align-items: center;

  display: flex;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  padding: 0 30px 0 30px;
}
.logo_c1{display: flex;}
.logo{
  margin: 10px;
  width: 30px;
  height: 34px;
}
.logo_t{
  font-size: 25px;
  color: #222;
  font-weight: 700;
  line-height: 60px;
}
.logo_t span{
  color: #8D39EC;
}
.search_box{
  width: 350px;
  height: 40px;
  padding: 0 20px 0 20px;
  background: rgb(241, 236, 246);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bx-search {font-size: 20px}
.input_search{
  border: none;
  outline: none;
  background: none;
  color: rgb(54, 54, 54);
  height: 100%;
  width: 285px;
  font-size: 17px;
  font-weight: 500;
}
.input_search::placeholder{
  color: #8c8c8c;
  font-size: 17px;
}
.c_pnf{
  justify-content: center;
  align-items: center;
  display: flex;
}
.c_pnf a i{
  color: #222;
  margin: 0 5px;
  font-size: 20px;
}
.setting_container{
  display: block;
  list-style: none;
  text-decoration: none;
}
.setting_container li {cursor: pointer;}
.setting_container ul{
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
}
.bx-chevron-down{
  margin: 0;
}
#dp{
  position: absolute;
  display: none;
}
#dp:checked + .dp_ckt{display: block;}
.setting_container ul li{
  margin: 5px;
  list-style: none;
  display: block;
}
.dp_ckt li a{
  color: #222;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
ul li .c:hover{
  transition: 0.3s;
  background: rgb(241, 236, 246);
}
.profile-pf-page a{
  display: flex;
  align-items: center;
  color: #222;
  font-size: 14px;
  font-weight: bold;
}
.prof_img{
  margin: 0 10px 0 10px;
  width: 40px;
  border-radius: 30px;
}
.setting_container a label{cursor: pointer;}
/* End */










/* Left Navigation Bar */
.left_container{
  grid-row: 2 / 3;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(186, 186, 186);

  margin: 10px 10px 10px 40px;
  overflow: hidden;
  overflow-y: scroll;
}
.left_container::-webkit-scrollbar {display: none;}
.left-nav-menu{
  width: 100%;
  height: 100%;
  display: block;
}
.left-nav-menu > li{
  list-style: none;
  margin: 5px 0;
  padding: 10px 20px;
  cursor: pointer;
}
.left-nav-menu > li > a{
  font-size: 16px;
  font-weight: 500;
  color: #222;
  display: flex;
  align-items: center;
}
.left-nav-menu > li > a > .bx{
  font-size: 20px;
  color: #8D39EC;
  margin: 0 5px;
}
.left-nav-bar-hover:hover{
  transition: 0.3s;
  border-left: 2px solid #8D39EC;
  background-color: rgb(241, 236, 246);
}
.active-messages{
  border-left: 2px solid #8D39EC;
  background-color: rgb(241, 236, 246);
}
.left_container > .left-nav-menu > h4{
  margin: 20px 20px 20px 20px;
  color: rgb(144, 144, 144);
}
.left_container > .left-nav-menu > hr{
  border: none;
  outline: none;
  height: 1px;
  margin: 10px;
  background: rgb(212, 212, 212);
}
.favorite-groups li, .page-you-like li{
  list-style: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
}
.favorite-groups li:hover{
  transition: 0.3s;
  background-color: rgb(241, 236, 246);
}
.page-you-like li:hover{
  transition: 0.3s;
  background-color: rgb(241, 236, 246);
}
.favorite-groups li a, .page-you-like li a{
  font-size: 15px;
  font-weight: 600;
  color: #222;
  display: flex;
  align-items: center;
}
.page-you-like li a{font-size: 12px;}
.navbar-group-profile, .navbar-page-profile{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  margin-right: 10px;
}
.help{
  font-size: 14px;
  margin: 0 10px 20px 20px;
  color: rgb(157, 157, 157);
}
/* End */






/* Messages */
.messages-container{
  grid-column: 2 /4;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100%;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(186, 186, 186);

  margin: 10px 10px 10px 0;
}
.messages-container .mc{
}
.friends-messages{
  border-right: 2px solid rgb(212, 212, 212);
}
.messages-container > .friends-messages > h4{
  color: rgb(176, 176, 176);
  margin: 10px;
}
.messages-container > .friends-messages > .message-nav-menu{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.messages-container > .friends-messages > hr{
  border: none;
  outline: none;
  height: 1px;
  margin: 5px 10px;
  background: rgb(212, 212, 212);
}
.messages-container > .friends-messages > .message-nav-menu > a{
  display: block;
  list-style: none;
  padding: 5px;

  font-size: 14px;
  font-weight: 600;
  color: #222;
  border-bottom: 2.5px solid #fff;
}
.messages-container > .friends-messages > .message-nav-menu >.all-chat-active{
  border-bottom: 2.5px solid #8D39EC;
  color: #8D39EC;
}
.messages-container > .friends-messages > .message-nav-menu > a:hover{
  border-bottom: 2.5px solid #8D39EC;
  color: #8D39EC;
  transition: 0.3s;
}
.message-search-friends{
  width: 280px;
  height: 36px;
  background: rgb(241, 236, 246);
  margin: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
}
.message-search-friends-input{
  width: 250px;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  padding-left: 5px;
}
.all-message{
  width: 100%;
  height: 600px;

  padding: 10px 10px 10px 10px;
  display: block;

  overflow: hidden;
  overflow-y: scroll;
}
.all-message::-webkit-scrollbar{
  width: 10px;
}
.all-message::-webkit-scrollbar-track{
  border-radius: 10px;
  background: rgb(214, 214, 214);
}
.all-message::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgb(175, 175, 175);
}
.all-message::-webkit-scrollbar-thumb:hover{
  transition: 0.3s;
  background: rgb(145, 54, 245);
}
.all-message > .friends-chats{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 2.5px 0;
  border-radius: 10px;
}
.all-message > .friends-chats:hover{
  transition: 0.3s;
  background-color: rgb(241, 236, 246);
}
.all-message > .friends-chats > img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 10px 0 0;
}
.all-message > .friends-chats > .name-chat > h4{color: #222;}
.all-message > .friends-chats > .name-chat > p{
  font-size: 12px;
  color: rgb(131, 131, 131);
}
.message > .group-profile-name-call-info{
  border-bottom: 2px solid rgb(212, 212, 212);
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}
.message > .group-profile-name-call-info > .group-profile-name{
  display: flex;
  align-items: center;
}
.message > .group-profile-name-call-info > .group-profile-name > .bg-color-img{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #8D39EC;
  margin: 0 10px 0 0;
}
.message > .group-profile-name-call-info > .group-profile-name > .bg-color-img > img{
  width: 25px;
  height: 25px;
}
.message > .group-profile-name-call-info > .call > a > i{
  font-size: 25px;
  margin: 0 2px;
  color: #8D39EC;
}
.messages{
  width: 100%;
  height: 550px;
  display: block;
  padding: 0 20px;
  overflow: hidden;
  background: rgb(241, 236, 246);
}
.messages > .mpf{
  display: flex;
  margin: 20px 0;
}
.messages > .mpf > p{
  background: rgb(219, 219, 219);
  border-radius: 10px;
  display: block;
  align-items: center;
  padding: 10px;
}
.messages > .mpf > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
}
.input-chat{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-input-others > .input-chat > input{
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  background: rgb(241, 236, 246);
}
.chat-input-others > .input-chat > button{
  width: 50px;
  height: 36px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: #8D39EC;

  color: #fff;
  font-size: 20px;
}
.chat-input-others > hr{
  border: none;
  outline: none;
  height: 1px;
  margin: 5px 10px;
  background: rgb(212, 212, 212);
}
.others{
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.others > a{
  border-radius: 10px;
  display: block;
  padding: 1.5px 20px;
  margin: 0 1.5px;
}
.others > a:hover{
  transition: 0.3s;
  background-color: rgb(241, 236, 246);
}
.others > a > i{
  font-size: 30px;
  color: rgb(143, 143, 143);
}
.message-menu-side-wrap{
  padding: 10px;
  display: flex;
  border-left: 2px solid rgb(212, 212, 212);
}
.message-menu-side-wrap > .mms-con > .profile-wrap{
  margin: 20px 20px 20px 65px;
  width: 150px;
  height: 150px;
  background: #8D39EC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-menu-side-wrap > .mms-con > .profile-wrap > img{
  width: 100px;
  height: 100px;
}
.message-menu-side-wrap > .mms-con > h3{text-align: center;}
.message-menu-side .nav-profile{
  width: 100%;
  display: block;
}
.message-menu-side-wrap > .mms-con > .nav-profile{display: block;}
.message-menu-side-wrap > .mms-con > .nav-profile > li{list-style: none;}
.message-menu-side-wrap > .mms-con > .nav-profile > li > a > i{font-size: 20px;}
.message-menu-side-wrap > .mms-con > .nav-profile > li > a{
  justify-content: space-between;
  display: flex;
  padding: 12px;
  margin: 3px 0;
  color: #222;
  font-size: 16px;
  border-radius: 8px;
}
.message-menu-side-wrap > .mms-con > .nav-profile > li > a:hover{
  transition: 0.3s;
  background-color: rgb(241, 236, 246);
}
/* End */
